//====================================================================================================
.main {
	background-color: $bgColor;
	&__container {
		@include adaptiveValue("padding-top", 144, 122);
		position: relative;
		@media (max-width: rem(1149.98)) {
		}
	}
	&__content {
		@include adaptiveValue("padding-right", 114, 0, 0, 1440, 1340);
		@include adaptiveValue("padding-left", 114, 0, 0, 1440, 1340);
	}
}
.find-main {
	display: flex;
	flex-direction: column;
	z-index: 5;
	@media (max-width: rem(1339.98)) {
		padding-left: 0;
	}
	&__part {
		display: flex;
		justify-content: space-between;
		@media (max-width: rem(1149.98)) {
			flex-direction: column;
		}
	}
	&__description {
		display: flex;
		flex: 1 1 50%;
		padding-top: rem(21);
		flex-direction: column;
		color: #fff;
		@include adaptiveValue("max-width", 600, 540, 0, 1300, 1100);
	}
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 64, 34);
		font-size: rem(64);
		line-height: 1.35;
		margin-bottom: rem(21);
	}
	&__subtitle {
		font-weight: 400;
		font-size: rem(16);
		line-height: 1.6;
		margin-bottom: rem(72);
		@media (max-width: rem(1149.98)) {
			margin-bottom: rem(38);
		}
	}
	&__photo {
		justify-self: end;
		flex: 0 0 50%;
		@include adaptiveValue("margin-right", -150, -36, 0, 1440, 1340);
		z-index: 5;
		max-width: rem(510);
		position: relative;
		@media (max-width: rem(1149.98)) {
			flex: 1 1 100%;
			max-width: rem(960);
			}
		img {
			position: absolute;
			top: 0;
			right: 0;
			max-width: 100%;
			@media (max-width: rem(1149.98)) {
			position: relative;
			}
		}
	}

	&__tabs {
	}

	&__bg {
		position: absolute;
		background: url('../img/main/pattern.svg') no-repeat;
		top: rem(-10);
		right: rem(125);
		width: rem(653);
		height: rem(653);
		z-index: 2;
		opacity: 0.8;
		
	}
}

.tabs {
	display: flex;
	flex-direction: column;
	// position: relative;
	z-index: 50;
	&__navigation {
		display: flex;
	}

	&__title {
		min-width: rem(109);
		font-family: 'Manrope';
		font-weight: 800;
		font-size: rem(12);
		line-height: 1.33;
		letter-spacing: rem(1);
		text-transform: uppercase;
		color: $textColor;
		background-color: $hoverBgColor;
		cursor: pointer;
		padding: rem(6) rem(18) rem(11);
		text-align: left;
	}
	
	&__content {
		
	}
	&__body {
		max-width: 100%;
	}
	&__form {
		@media (max-width: rem(1149.98)) {
			max-width: 100%;
		}
	}
}
._tab-active {
	background-color: #fff;
}

//====================================================================================================

.trending {
	background-color: #D7E5E2;
	@media (max-width: rem(1149.98)) {
		margin-top: rem(-38);
	}

	&__container {
		padding-top: rem(81);
		padding-bottom: rem(86);
		@media (max-width: rem(1149.98)) {
			padding-bottom: rem(40);
		}
	}

	&__content {
		display: flex;
		column-gap: rem(35);
		align-items: center;
		@include adaptiveValue("padding-right", 114, 0, 0, 1440, 1340);
		@include adaptiveValue("padding-left", 114, 0, 0, 1440, 1340);
		@media (max-width: rem(1339.98)) {
			// padding-left: 0;
		}
	}

	&__search {
		max-width: rem(165);
	}

	&__title {
		color: $textColor;
		font-weight: 400;
		font-size: rem(18);
		line-height: 1.22;
		margin-bottom: rem(7);
	}
	&__link {
		color: $orangeColor;
		text-decoration: underline;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $hoverOrangeColor;
		}
	}
	&__tags {
		max-width: rem(395);
		display: flex;
		flex-wrap: wrap;
		gap: rem(8);
	}
}
.btn {
	background-color: rgba(255, 255, 255, 0.72);
	padding: rem(9) rem(16);
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $hoverBgColor;
	}
	&:active {
		background-color: rgba(255, 255, 255, 1);
	}
}
//========================================================================================================================================================
.how {
	&__container {
		position: relative;
		padding-top: rem(137);
		padding-bottom: rem(116);
		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 88%;
			height: rem(1);
			background-color: #E8E7E8;
			bottom: 0;
			right: rem(-36);
		}
	}
	&__content {
		display: flex;
		gap: rem(60);
		justify-content: space-between;
		align-content: center;
		@include adaptiveValue("padding-right", 114, 0, 0, 1440, 1340);
		@include adaptiveValue("padding-left", 114, 0, 0, 1440, 1340);
		@media (max-width: rem(1149.98)) {
			flex-direction: column;
			align-items: start;
		}
	}
	&__label {
		justify-self: start;
		min-width: rem(270);
		font-family: 'Manrope';
		font-weight: 600;
		font-size: rem(24);
		line-height: 1.37;
		color: #8E8C95;
	}

	&__items {
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, minmax(rem(240), auto));
		row-gap: rem(25);
		column-gap: rem(12);
		justify-self: end;
		align-items: center;
		counter-reset: ol-numbers;
		list-style: none;
		li {
			display: flex;
			position: relative;
			justify-content:space-between;
			align-items: center;
			min-height: rem(36);
			padding-left: rem(48);
			padding-right: rem(48);
			font-weight: 500;
			font-size: rem(18);
			line-height: 1.22;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				counter-increment: ol-numbers;
				content: counter(ol-numbers) "";
				color: $orangeColor;
				font-weight: 800;
				font-size: rem(16);
				line-height: 1.37;
				width: rem(36);
				height: rem(36);
				border-radius: 50%;
				background-color: #fff;
				box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
				box-sizing: border-box;
				display: block;
				text-align: center;
				padding: rem(6) rem(11);
			}
			&:not(:last-child):after {
				position: absolute;
				content: "";
				background: url('../img/icons/arrow.svg') center/ 100% no-repeat;
				width: 100%;
				height: rem(15);
				max-width: rem(9);
				right: 0;
			}
		}
	}
}
//========================================================================================================================================================
.daily {

	&__container {
		padding-top: rem(116);
		padding-bottom: rem(116);
	}

	&__content {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("padding-right", 114, 0, 0, 1440, 1340);
		@include adaptiveValue("padding-left", 114, 0, 0, 1440, 1340);
	}

	&__description {
	}

	&__body {
	}
}
.description-daily {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: rem(75);


	&__title {
		max-width: rem(360);
	}

	&__form {
	}
}

.form-select {
	display: flex;
	&__label {
		font-weight: 400;
		font-size: rem(18);
		line-height: 1.22;
		color: #8E8C95;
	}
	&__select {
		font-weight: 500;
		font-size: rem(18);
		line-height: 1.22;
		text-decoration-line: underline;
		color: #3B3A40;
	}
}
//========================================================================================================================================================
.body-daily {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(360), 1fr));
	gap: rem(30);
}
.item-daily {
	display: flex;
	flex-direction: column;
	padding: rem(24);
	border: 1px solid #E8E7E8;
}
//========================================================================================================================================================
.card-employer {
	display: flex;
	flex-direction: column;
	padding: rem(24);
	border: 1px solid #E8E7E8;
	grid-row:  2/ span 2;

	&__info {
		margin-bottom: rem(16);
	}
	&__conditions {
		margin-bottom: rem(29);
	}

	&__about {
		flex: 1 1 auto;
		margin-bottom: rem(32);
		font-weight: 600;
		font-size: rem(18);
		line-height: 1.44;
		color: $textColor;
		display: -webkit-box;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;
		overflow-y: hidden;
		margin-bottom: rem(47);
	}

	&__vacancy {
	}
}
.info-card-employer {
	display: flex;
	justify-content:space-between;
	align-items: center;
	gap: rem(12);
	margin-bottom: rem(16);
	&__logo {
		width: rem(32);
		height: rem(32);
		cursor: pointer;
		img {
			max-width: 100%;
		}
	}
	&__name {
		flex: 1 1 auto;
		font-family: 'Manrope';
		font-weight: 600;
		font-size: rem(14);
		line-height: 1.85;
		color: $textColor;
		cursor: pointer;
	}

	&__stars {
	}
}
.vacancy-employer {
	display: flex;
	align-items: center;
	gap: rem(4);
	font-family: 'Manrope';
	font-size: rem(14);
	line-height: 1.86;
	min-height: rem(14);
	&__label {
		font-weight: 600;
		color: $textColor;
	}
	&__link {
		display: flex;
		align-items: center;
		min-height: rem(14);
		color: $orangeColor;
		text-decoration: underline;
		font-weight: 800;
		font-size: rem(14);
		line-height: 1.86;
		span {
			display: block;
			margin-right: rem(13);
		}
	}
	&__svg {
		display: flex;
		align-items: center;
		svg {
			fill: $orangeColor;
			
		}
	}
}
//========================================================================================================================================================
.show-more {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	font-size: rem(18);
		line-height: 1.22;
	&__counter {
		font-family: 'Manrope';
		font-weight: 500;
		font-size: rem(72);
		line-height: 1.36;
		text-align: center;
		color: #211437;
	}
	&__body {
		display: flex;
		align-items: center;
		gap: rem(4);
	}

	&__label {
		font-weight: 400;
		color: #8E8C95;

	}
	&__link {
		display: flex;
		align-items: center;
		min-height: rem(18);
		span {
			font-weight: 500;
			text-decoration-line: underline;
			color: $textColor;
			margin-right: rem(4);
		}
	}
	&__svg {
		display: flex;
		align-self: center;
		svg {
			fill: #B3B1B7;
		}
	}
}
//========================================================================================================================================================
.review {
	&__container {
		padding-top: rem(120);
		padding-bottom: rem(120);
	}

	&__content {
		position: relative;
		@include adaptiveValue("padding-right", 114, 0, 0, 1440, 1340);
		@include adaptiveValue("padding-left", 114, 0, 0, 1440, 1340);
	}

	&__slider {
		position: relative;
	}

	&__wrapper {
	}

	&__slide {
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.review-slide {
	&__body {
	}
}
.swiper-pagination {
}
.swiper-button-arrows { 
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	z-index: 20;
}
.swiper-button-prev, .swiper-button-next {
	position: static;
	height: rem(48);
	width: rem(48);
	background-color: #fff;
	&::before {
		content: '';
		position: absolute;
		display: block;
		top: 50%;
		right: 50%;
		background: url('../img/icons/arrow-left.svg') no-repeat;
		width: rem(11);
		height: rem(18);
	}
}

.swiper-button-prev::before {
}
.swiper-button-next::before {
	transform: rotate(180deg);
}
.swiper-scrollbar {
}
//========================================================================================================================================================
.text-slider {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 110%;
}
.text-slide {

		&__body {
		}
}
.body-text-slide {
	// position: absolute;
	// top: rem(56);
	// left: rem(56);
	margin-top: rem(56);
	margin-left: rem(56);
	background-color: #fff;
	max-width: rem(520);
	padding: rem(36) rem(56) rem(56) rem(56);
		&__svg {
			margin-bottom: rem(31);
		}

		&__text {
			font-family: 'Manrope';
			font-weight: 600;
			font-size: rem(32);
			line-height: 1.37;
			color: #000000;
			margin-bottom: rem(59);
		}

		&__data {
			display: flex;
			font-size: rem(20);
			line-height: 1.2;
			gap: rem(4);
		}

		&__name {
			font-weight: 600;
			color: $textColor;
		}

		&__workarea {
			font-weight: 400;
			color: #8E8C95;
		}
}


